<%= form_with(model: @article, local: true) do |f| %>
  <div>
    <div>
      <%= f.label :title %>
    </div>
    <%= f.text_field :title %>
  </div>
  <div>
    <div>
      <%= f.label :description %>
    </div>
    <%= f.text_area :description %>
  </div>
  <%= f.submit %>
<% end %>
 