<div class="page-content">
  <h1 class="text-center mt-4">All Articles</h1>
  <% @articles.each do |article| %>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-8">
          <div class="card text-center shadow my-4 rounded">
            <div class="card-header font-italic">
              <%#= article.author %>
              by Alex Dodd
            </div>
            <div class="card-body">
              <h5 class="card-title text-success"><%= article.title %></h5>
              <p class="card-text"><%= truncate article.description, length: 100 %></p>
              <%= link_to 'Show', article_path(article), class:  "btn btn-outline-success" %>
              <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-primary" %>
              <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: " Are you sure?" }, class: "btn btn-outline-danger" %>
            </div>
            <div class="card-footer text-muted">
              <small>Created <%= time_ago_in_words article.created_at %> ago, </small>
              <small>Edited <%= time_ago_in_words article.updated_at %> ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>