<h1>Create a New Article</h1>
<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved.</h2>
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <div>
    <div>
      <%= f.label :title %>
    </div>
    <%= f.text_field :title %>
  </div>
  <div>
    <div>
      <%= f.label :description %>
    </div>
    <%= f.text_area :description %>
  </div>
  <%= f.submit %>
<% end %>
<%= link_to 'Return to Articles Listing', articles_path %>
  